*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #4f638b, #fff);
}
#modelBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width:400px;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    display: none;
}
.offer-text{
    padding: 20px 40px 40px 40px;
    font-size: 14px;
    line-height: 18px;
}
.offer-text h2{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}
.offer-text small{
    display: inline-block;
    color: #ff2b4e;
    font-weight: 600;
    margin-bottom: 20px;
}
.offer-text form{
    margin-top: 30px;
    display: flex;
    background: #efefef;
    border-radius: 4px;
}
.offer-text form input{
    flex:1;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 12px 10px;
    box-shadow: 0 0 1px inset rgba(0,0,0,0.3);
}
.offer-text form button{
    border:0;
    outline: 0;
    cursor: pointer;
    background: #ff2b4e;
    color: #fff;
    padding: 0 15px;
    border-radius: 4px;
}
.close-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}